[http]
	postBuffer = 524288000
	version = HTTP/2
[push]
	autoSetupRemote = true
[user]
	name = Francesco Casetta
	email = francesco.casetta@gmail.com
[includeIf "gitdir:~/dev/Work/"]
        path = ~/.gitconfig-work
[core]
	editor = nvim
[init]
	defaultBranch = main
